<!DOCTYPE html>
<html>
<head>
    <title>Catalog</title>
</head>
<body>

    <div>
        <h3>Categories</h3>
        <a href="{% url 'myadmin:product_list' %}"><button>All Products</button></a>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Category</th>
                    <th>Seller Name</th>
                    <th>Image</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.user.username }}</td> <!-- Replace 'product.seller.name' with the actual attribute path -->
                        <td><img src="{{ product.image.url }}" alt="{{ product.name }}" width="100"></td>
                        <td>${{ product.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
